<template name="productInventory">
  <h2>Inventory</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>SKU</th><th>Size</th><th>Barcode</th><th>In Stock</th><th>Available</th>
          </tr>
        </thead>
        <tbody>
          {{#each inventory}}
          <tr>
            <td>{{sku}}</td><td>{{size.description}}</td><td>{{gtin13}}</td><td>{{inStock}}</td><td>{{available}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>