<template name="suppliers">
  <h1>Suppliers</h1>
  {{#if Template.subscriptionsReady }}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
        {{#each suppliers}}
          <tr><td><a href="{{pathFor 'aSupplier' id=_id}}">{{name}}</a></td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{else}}
    {{> loading }}
  {{/if}}
  <hr />
  {{> newSupplierForm }}
</template>


<template name="newSupplierForm">
  <h2>Create New Supplier</h2>
  {{> quickForm collection="Suppliers" id="newSupplierForm" type="insert" }}
</template>