<template name="materials">
    {{#if Template.subscriptionsReady }}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Code</th><th>Material Name</th><th>In Stock</th>
                    </tr>
                </thead>
                <tbody>
                {{#each materials}}
                    <tr>
                        <td>{{code}}</td>
                        <td><a href="{{pathFor 'aMaterial' code=code }}">{{name}}</a></td>
                        <td>{{formatInventory}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3>Material</h3>
              </div>
              <div class="panel-body">
                  {{> newMaterialForm}}
              </div>
          </div>    
        </div>
    </div>
    {{else}}
        {{> loading }}
    {{/if}}
</template>