<template name="materialSuppliers">
  <h2>Suppliers</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th><th>Code</th>
      </tr>
    </thead>
    <tbody>
      {{#each suppliers}}
        <tr>
          <td><a href="{{pathFor 'aSupplier' id=_id}}">{{name}}</a></td><td>{{code}}</td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Unit</th><th>Units Per Pack</th><th>Min Order Qty</th>
                </tr>
              </thead>
              <tbody>
                {{#each sizes}}
                  <tr>
                      <td>{{description}}</td><td>{{units}}</td><td>{{minQty}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{> newMaterialSupplier }}
</template>

<template name="newMaterialSupplier">
  {{#autoForm collection="Materials" doc=this id="addMaterialSupplierForm" type="update" validation="none" }}
    {{> afQuickField name="suppliers" }}
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
</template>