<template name="label">
    <div id="logo">
        <img src="/img/pencil-fox-crafty.png">
    </div>
    <div id="AddressBox">
    craftyfragrances.co.uk<br /><br />
    123 My Address<br />
    Belfast, BT1 1AB<br /><br />
    Batch:  
    </div>
    <div id="BorderElement"></div>
    <div id="MainElement"></div>
    <div id="Headline">CRAFTY</div>
    <div id="Subhead">FRAGRANCE OIL</div>
    <div id="NameElement">
        <h1>{{name}}</h1>
    </div>
    <div id="PackSizeElement">50g</div>
    <div id="Safetybox">
    CHERRY FRAGRANCE OIL<br />
(CONTAINS Benzaldehyde, Eugenol, Linalool, d-Limonene.)<br /><br />
Flammable liquid and vapour.  May cause an allergic skin reaction.  Causes serious eye irritation. Harmful if inhaled. May cause respiratory irritation.  Harmful to aquatic life with long lasting effects.
    </div>
    <div id="ghsSymbols">
        <img src="http://www.unece.org/fileadmin/_migrated/RTE/RTEmagicC_160a419206.gif.gif" />
        <img src="http://www.unece.org/fileadmin/_migrated/RTE/RTEmagicC_285112f27c.gif.gif" />
    </div>
</template>