<template name="sizes">
    <h1>Pack Sizes</h1>
    {{#if Template.subscriptionsReady }}
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Code</th><th>Description</th><th>Weight</th>
              </tr>
            </thead>
            <tbody>
          {{#each sizes}}
            <tr>
              <td>{{code}}</td><td>{{description}}</td><td>{{weight}}</td>
            </tr>
          {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{else}}
      {{> loading }}
    {{/if}}
    <div class="row">
      <div class="col-md-12">
        {{> addSize }}
      </div>
    </div>
</template>

<template name="addSize">
  <h3>Add A Size</h3>
  {{> quickForm collection="Sizes" id="addSizeForm" type="insert" }}
</template>