<template name="login">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Crafty Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-primary" id="loginWithGoogle" >Login With Google</button>
                            <div class="error" id="loginError"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>